
{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block title%}Home{% endblock%}
{% block content %} 

<!-- Image Slider -->
<section id="slider-container">
    <!-- slides -->
    <picture class="slide fade" id="slide-0">
        <source srcset="{% static 'images/banner/img-1.jpg' 990w %}" media="(min-width: 640px)">
        <img src="{% static 'images/banner/img-mobile-1.jpg' %}" alt="Work And Live in Germany" />
    </picture>
    <picture class="slide fade" id="slide-1">
        <source srcset="{% static 'images/banner/img-2.jpg' 990w %}" media="(min-width: 640px)">
        <img src="{% static 'images/banner/img-mobile-2.jpg' %}" alt="Learn German Language Online" />
    </picture>
    <picture class="slide fade" id="slide-2">
        <source srcset="{% static 'images/banner/img-3.jpg' 990w %}" media="(min-width: 640px)">
        <img src="{% static 'images/banner/img-mobile-3.jpg' %}" alt="“Pflege” Professional Level for Nurses" />
    </picture>

    <!-- arrow navigation -->
    <div id="arrow-wrapper">
        <p class="slider-arrow center_y" id="arrow-prev"><i class="fas fa-angle-left"></i></p>
        <p class="slider-arrow center_y" id="arrow-next"><i class="fas fa-angle-right"></i></p>
    </div>

    <div class="banner-wrapper center_y_text center_x_text">
        <div class="wrapper">
            <div class="banner-text__item">
                <h2>Work And Live in Germany</h2>
                <h3>We offer German Language courses for beginners <br>up to professional level
                </h3>
                <p><a href="/programs" class="btn sm btn-secondary">Learn More!</a></p>
            </div>
            <div class="banner-text__item">
                <h2 class="blue-font">Learn German Language Online</h2>
                <h3 class="blue-font">Learn German Language at the convenience of your home
                </h3>
                <p><a href="/faq" class="btn sm btn-secondary">Learn More!</a></p>
            </div>
            <div class="banner-text__item">
                <h2 class="blue-font"> <span style="text-transform: capitalize;">“Pflege”</span> Professional<span class="break"></span> Level for Nurses</h2>
                <h3 class="blue-font">Our curriculum are specifically designed for <span class="break"></span>nursing professionals
                </h3>
                <p><a href="/about" class="btn sm btn-secondary">Learn More!</a></p>
            </div>
        </div>
    </div>
      <!-- dot navigation -->
    <div id="dots-wrapper" class="center_x">
        <div class="dot-navigation"></div>
        <div class="dot-navigation"></div>
        <div class="dot-navigation"></div>
    </div>
</section>

<div class="program-offered">

    <div class="wrapper">

            {% if programs_home %}
                {% for programs in programs_home %}
                    {{ programs.content | safe }}
                {% endfor %}
            {% else %}
                <p>No Content Available</p>
            {% endif %}

            <!-- Programs 4sets-->
            {% if programs_level %}
                <div class="grid grid-4 grid-4-card text-center">
                    {% for program_item in programs_level %}
                        
                            <a href="{% url 'program_detail' program_item.slug %}{% if program_item.level == 'A1' %}#a1{% endif %}{% if program_item.level == 'A2' %}#a2{% endif %}{% if program_item.level == 'B1' %}#b1{% endif %}{% if program_item.level == 'B2' %}#b2{% endif %}" class="card py-3">

                                <div class="program-offered__program-item ">
                                    {% if 'A' in  program_item.level %}
                                        <h2 class="program-offered__title">{{program_item.level}}</h2>
                                        <p class="program-offered__sub-title program-offered_min-height">{{program_item.title}}<span class="program-offered__sub-title-small">{{program_item.hour}}</span></p>
                                      
                                    {% else %}
                                        <h2 class="program-offered__title program-offered__title-secondary">{{program_item.level}}</h2>
                                        <p class="program-offered__sub-title-blue program-offered_min-height">{{program_item.title}} <span class="program-offered__sub-title-small">{{program_item.hour}}</p>
                                            
                                    {% endif %} 
                                    <p class="program-offered__descriptions">{{program_item.home_description}}</p>
                                </div>
                            </a>
                    
                    {% endfor %}
                </div>
            {% else %}
                <p>No Content Available</p>
            {% endif%}
    </div>
</div>

<div class="home-faq my-4">
    <div class="wrapper">
        <div class="grid grid-2">
            {% if section_a %}
                {% for content in section_a%}
                <!--  -->
                    {% if content.photo %}
                        <div class="home-faq__red-card home-faq__card" style="background: linear-gradient(rgba(222,20,50,.80),rgba(222,20,50,.80)),
                    url({{content.photo.url}}) no-repeat center center;"> 
                    {% else %}
                        <div class="home-faq__red-card home-faq__card" style="background: linear-gradient(rgba(222,20,50,.80),rgba(222,20,50,.80)),
                        url({% static 'images/left-image.jpg' %}) no-repeat center center;">
                    {% endif %}
                
                    <h2 class="home-faq__title">{{ content.title }}</h2>
                    {{ content.content | safe }}
                </div>
                {% endfor %}
            {% else %}
                <p>No content available</p>
            {% endif %}
             <!-- senction border -->
            {% if section_b %}
                {% for content in section_b%}
               
                    {% if content.photo %}
                        <div class="home-faq__blue-card home-faq__card" style="background: linear-gradient(rgba(222,20,50,.80),rgba(222,20,50,.80)),
                        url({{content.photo.url}})no-repeat center center;"> 
                    {% else %}
                        <div class="home-faq__blue-card home-faq__card" style="background: linear-gradient(rgba(42,34,169,.80),rgba(42,34,169,.80)),url({% static 'images/right-image.jpg' %})no-repeat center center;" >
                    {% endif %}
                    <h2 class="home-faq__title">{{ content.title }}</h2>
                    {{ content.content | safe }}

                </div>
                {% endfor %}
            {% else %}
                <p>No content available</p>
            {% endif %}
            
            </div>
        </div>

    </div>
</div>


<!-- Testimonials-->
<div class="bg-gray my-3" id="testimonials">
    <div class="wrapper text-center py-4">
        <p class="lead">Testimonials</p>
        <h2 class="md text-primary">What Our Students Say</h2>

        <div class="testimonial-heading">
            <div class="owl-carousel owl-theme testimonials-slider">

                {% if latest_testimonials %}
                    {% for testimonials in latest_testimonials %}
                        <div class="mx-3 mx-lg-5 my-5 pt-3">
                            <div class="card card-shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                                <div class="card-body index-forward pt-5 rounded-lg">
                                <div class="testimonial-img">
                                    <img class="rounded-circle" src="{{ testimonials.photo.url }}" alt="{{testimonials.name}}"/>
                                </div>
                                <p class="testimonial-message">
                                    {{testimonials.content}}
                                </p>
                                <h5 class="testimonial-name"> -  {{testimonials.name}} {%if testimonials.name %},{% endif %}</h5>
                                <p class="testimonial-address"> {% if testimonials.designation %}{{testimonials.designation}}{% endif%}</p> 
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <p>No available content</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<!-- End Testimonials-->

<!-- News-->
<div class="news-section py-5">
    <div class="wrapper ">
        <h2 class="news lg text-primary uppercase">News</h2>
        <div class="grid">
            {% if latest_news %}
                {% for news in latest_news %}
                    <div class="news-section__item">
                        <h3 class="lead my-3">{{ news.title }}</h3>
                        <p class="sm">{{ news.content | safe | truncatechars:170 }}</p>
                        <p class="py-2"><a href="{% url 'news_detail' news.slug  %}" class="btn-sm-gallery my-4">Read More <i class="fas fa-angle-right"></i></a></p>
                    </div>
                {% endfor %}
            {% endif%}
           
        </div>
    </div>
</div>
<!-- End News-->

<!-- Partners-->
<div class="partner-section">
    <div class="wrapper text-center">
        <h2 class="lead text-primary uppercase">Our Partners</h2>
        <div class="wrapper flex">
            <div class="partner-section__item">
                <img src="{% static 'images/connect-and-care-Germany.svg' %}" alt="Connect and Care Germany">
            </div>
            <div class="partner-section__item">
                <img src="{% static 'images/logo_agile-maritime.svg' %}" alt="AGILE Maritime" >
            </div>
            <div class="partner-section__item">
                <img src="{% static 'images/lubeca.svg' %}" alt="Lubeca">
            </div>
        </div>
    </div>
</div>
<!-- End footer-->

{% endblock%}

{% block extra_js %}
<script src="{% static 'js/banner.js' %}"></script>
{% endblock %}


