{% extends 'base.html' %}
{% load static %}

{% block content%}

<section id="page-banner">
    <div class="wrapper">
        <div class="banner-block" style="background: linear-gradient(110deg, rgba(42, 34,169,.5) 50%, rgba(0, 0, 0, .5) 30%), url({% static 'images/inner-programs-banner.jpg' %}) no-repeat center center;">
            <div class="banner-block-text">
                <h1 class="lg-title-banner white-font uppercase no-shadow">Programmes We Offer</h1>
            </div>
        </div>
    </div>
    
</section>
  <!-- programs main -->
  <div class="programs-main my-4">
    <div class="wrapper-md">
    
        <div class="generic-content-container p-2">
            <section class="pb-2">
                <h2 class="lg-title text-primary">German Language Programme</h2>
                <p class="">Our levelling corresponds to the levels set out in the CEF (Common European Framework) for language learning. It is a guideline used to describe achievements of learners of foreign languages across. Its main aim is to provide a method of learning, teaching and assessing which applies to all languages in Europe.</p>
            </section>

            <section class="py-1">
                <a href="/programs/breakthrough-or-beginner">
                    <h2 class="md-title text-primary md-line-height"><span class="color-box red-box">A1</span>Breakthrough or beginner</h2></a>
                <h3 class="sub-title__hour">120 hours</h3>
                <ul class="programs-main__list">
                    <li>Can understand and use familiar everyday expressions and very basic phrases aimed at the satisfaction of needs of a concrete type.</li>
                    <li>Can introduce themselves and others and can ask and answer questions about personal details such as where they live, people they know and things they have.</li>
                    <li>Can interact in a simple way provided the other person talks slowly and clearly and is prepared to help.</li>
                </ul>

                <p class="py-1"><a href="/programs/breakthrough-or-beginner" class="btn-sm-gallery">Read More <i class="fas fa-angle-right"></i></a></p>
            </section>

            <section class="py-1">
                <a href="/programs/waystage-or-elementary">
                    <h2 class="md-title md-line-height text-primary"><span class="color-box red-box">A2</span>Waystage or elementary</h2></a>
                <h3 class="sub-title__hour">120 hours</h3>
                <ul class="programs-main__list">
                    <li>Can understand sentences and frequently used expressions related to areas of most immediate relevance (e.g. very basic personal and family information, shopping, local geography, employment).</li>
                    <li>Can communicate in simple and routine tasks requiring a simple and direct exchange of information on familiar and routine matters.</li>
                    <li>Can describe in simple terms aspects of their background, immediate environment and matters in areas of immediate need.</li>
                </ul>

                <p class="py-1"><a href="/programs/waystage-or-elementary" class="btn-sm-gallery">Read More <i class="fas fa-angle-right"></i></a></p>
            </section>

            <section class="py-1">
                <a href="/programs/threshold-or-intermediate">
                    <h2 class="md-title md-line-height text-primary"><span class="color-box ">B1</span>Threshold or intermediate </h2></a>
                <h3 class="sub-title__hour">120 hours</h3>
                <ul class="programs-main__list">
                    <li>Can understand the main points of clear standard input on familiar matters regularly encountered in work, school, leisure, etc.</li>
                    <li>Can deal with most situations likely to arise while travelling in an area where the language is spoken.</li>
                    <li>Can produce simple connected text on topics that are familiar or of personal interest.</li>
                    <li>Can describe experiences and events, dreams, hopes and ambitions and briefly give reasons and explanations for opinions and plans.</li>
                </ul>

                <p class="py-1"><a href="/programs/threshold-or-intermediate" class="btn-sm-gallery">Read More <i class="fas fa-angle-right"></i></a></p>
            </section>

            <section class="py-1">
                <a href="/programs/vantage-or-upper-intermediate">
                    <h2 class="md-title md-line-height text-primary"><span class="color-box">B2</span>Vantage or upper intermediate</h2></a>
                <h3 class="sub-title__hour">120 hours</h3>
                <ul class="programs-main__list">
                    <li>Can understand the main ideas of complex text on both concrete and abstract topics, including technical discussions in their field of specialization.</li>
                    <li>Can interact with a degree of fluency and spontaneity that makes regular interaction with native speakers quite possible without strain for either party.</li>
                    <li>Can produce clear, detailed text on a wide range of subjects and explain a viewpoint on a topical issue giving the advantages and disadvantages of various options.</li>
                </ul>

                <p class="py-1"><a href="/programs/vantage-or-upper-intermediate" class="btn-sm-gallery">Read More <i class="fas fa-angle-right"></i></a></p>
            </section>
          
        </div>
    </div>
</div>

{% endblock %}