{% extends 'base.html' %}
{% load static %}

{% block content%}
<!-- Head -->

<section id="page-banner" >
    <div class="wrapper">
        <div class="banner-block" style="background: linear-gradient(110deg, rgba(42, 34,169,.5) 50%, rgba(0, 0, 0, .5) 30%), url({% static 'images/inner-programs-banner.jpg' %}) no-repeat center center;">
            <div class="banner-block-text">
                <h1 class="lg-title white-font uppercase">Programmes We Offer</h1>
            </div>
        </div>
    </div>
    
</section>

<!-- programs main -->
<div class="programs-main my-4" id="{{program.level|lower}}">
    <div class="wrapper grid">
        <div class="sticky-sidebar p-2">
           
            
            {% include 'partials/_program_sidebar.html'%}

        </div>
        <div class="generic-content-container p-2">

            <section class="">
                <h2 class="lg-title text-primary">{{program.level}} - {{program.title}}</h2>
                <h3 class="sub-title__hour text-primary">({{program.hour}})</h3>
                {{ program.content|safe }}
               
                <!-- <p><a href="" class="btn primary-btn">Contact Us</a></p> -->
            </section>

            
        </div>
    </div>
</div>


{% endblock%}