{% extends 'base.html' %}
{% load static %}

{% block title%}Programmes We Offer{% endblock%}
{% block content%}

<section id="page-banner">
    <div class="wrapper">
        <div class="banner-block" style="background: linear-gradient(110deg, rgba(42, 34,169,.5) 50%, rgba(0, 0, 0, .5) 30%), url({% static 'images/inner-programs-banner.jpg' %}) no-repeat center center;">
            <div class="banner-block-text">
                <h1 class="lg-title-banner white-font uppercase no-shadow">Programmes We Offer</h1>
            </div>
        </div>
    </div>
    
</section>
  <!-- programs main -->
  <div class="programs-main my-4">
    <div class="wrapper-md">
    
        <div class="generic-content-container p-2">
            <section class="pb-2">

                {% if program_intro %}
                    {% for intro in program_intro %}
                        {{intro.content | safe}}
                    {% endfor %}
                {% endif %}
               
            </section>

                {% if programs %}
                    {% for intro in programs %}                    
                    <section class="py-1">
                        <a href="{% url 'program_detail' intro.slug %}">
                            <h2 class="md-title text-primary md-line-height">
                                {%if 'A' in  intro.level %}<span class="color-box red-box"> 
                                {% else %}<span class="color-box"> 
                                {% endif %}{{intro.level}}</span>{{intro.title}}
                            </h2>
                        </a>
                        <h3 class="sub-title__hour">{{intro.hour}}</h3>
                        <div class="programs-main__list">
                            {{intro.content_intro | safe}}
                        </div>
                        <p class="py-1"><a href="{% url 'program_detail' intro.slug %}" class="btn-sm-gallery">Read More <i class="fas fa-angle-right"></i></a></p>
                    </section>
                    {% endfor %}
                {% else %}
                <p>No Content Available</p>
                {% endif %}

        </div>
    </div>
</div>

{% endblock %}