{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title%}
    {% for news in news_list %}
        {{news.title}}
    {% endfor %}
{% endblock %}


{% block content%}

<div class="programs-main my-4">
    <div class="wrapper grid">
        <div class="sidemenu-sidebar p-2">
            <h3 class="my-2">Recent News</h3>
            <nav>
                <ul>
                    {% for news in news_list %}
                        <li>
                            <a href="{% url 'news_detail' news.slug  %}" class="level a-level">{{news.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="generic-content-container p-2">

            <section class="">
                {% if news_detail %}

                    <h2 class="lg-title text-primary">{{news_detail.title}}</h2>
                    
                    {{ news_detail.content|safe }}
               
                {% else %}  
                    <p>No New detail page available</p>
                {% endif %}  
                
            </section>
          
        </div>
    </div>
</div>


{% endblock %}