{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="about-main my-2">
    <div class="wrapper grid">

        <div class="generic-content-container my-4">
            <h1 class="lg-title uppercase text-primary text-center pb-3">Thank you for reaching out!</h1>

            <p class="text-center lead">Our C&C International representative will be in touch with you.</p>
            <p class="text-center lead py-5">Back to <a href="/" class="link">Home</a> page</p>
            

        </div>
    </div>
</section>
{% endblock %}

